.aws/cli
.aws/sso
.aws/config
.config/gh
.config/go/telemetry
.config/op
.local/bin/black
.local/bin/blackd
.local/bin/claude
.local/bin/mdformat
.local/bin/fzf
.local/bin/posting
.local/share
.local/state
